.body-class {
  background-color: #dbdbff;
}

.header-class {
  background-color: #87c3ff;
  color: #ffffff;
}

.nav-class {
  background-color: hsl(274, 100%, 78%);
  color: #ffffff;
}

.title-class {
  color: #0063c6;
}
.section-title-class {
  color: #343a40;
}

.text-class {
  color: #333333;
}

.image-class {
  border: 20px solid #002244;
}

.form-class input,
.form-class select,
.form-class textarea {
  background-color: hwb(289 80% 0%);
  color: #495057;
}
.button-class {
  background-color: #e5b9ff;
  color: #ffffff;
}

/* Footer */
.footer-class {
  background-color: #fb82ff;
  color: #ffffff;
}
